{
  "PORT": ""
  "ORIGIN": "",
  "DATABASE_URL": "",
  "SERVICE_NAME": "",
  "SECRET_CODE": "",
  "REFRESH_SECRET_CODE": "",
  "EVENT_QR_SECRET_CODE": "",
  "S3_ACCESS_KEY": "YOUR AWS ACCOUNT ACCESS KEY",
  "S3_SECRET_KEY": "YOUR AWS ACCOUNT SECRET KEY",
  "S3_BUCKET_NAME": "YOUR AWS S3 BUCKET NAME",
  "ISSUER": "YOUR COOKIE ISSUER",
  "AUDIENCE": "YOUR COOKIE AUDIENCE",
  "RPC_URL": "YOUR BLOCKCHAIN RPC URL",
  "ERC721_ADDRESS": "YOUR DNFT CONTRACT ADDRESS",
  "SENDER": "YOUR SENDER WALLET ADDRESS",
  "SENDER_PRIVATE_KEY": "YOUR SENDER WALLET PRIVATE KEY",
  "PINATA_API": "YOUR PINATA API KEY",
  "NODE_ENV": "",
  "PINATA_SECRET": "YOUR PINATA SECRET KEY",
  "CLIENT_COOKIE_DOMAIN": "YOUR CLIENT COOKIE DOMAIN",
  "ADMIN_COOKIE_DOMAIN": "YOUR ADMIN COOKIE DOMAIN"
}